---
http_interactions:
- request:
    method: post
    uri: https://ssl.ditonlinebetalingssystem.dk/remote/subscription.asmx
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soap:Envelope xmlns:xsi=\"http://schemas.xmlsoap.org/soap/envelope/\"
      xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
      \ <soap:Body>\n    <getsubscriptions xmlns=\"https://ssl.ditonlinebetalingssystem.dk/remote/subscription\">\n
      \     <subscriptionid>387544</subscriptionid>\n      <merchantnumber>8887978</merchantnumber>\n
      \   </getsubscriptions>\n  </soap:Body>\n</soap:Envelope>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - https://ssl.ditonlinebetalingssystem.dk/remote/subscription/getsubscriptions
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><getsubscriptionsResponse
      xmlns="https://ssl.ditonlinebetalingssystem.dk/remote/subscription"><getsubscriptionsResult>true</getsubscriptionsResult><subscriptionAry><SubscriptionInformationType><subscriptionid>387544</subscriptionid><description>Test-subscriber</description><created>2012-02-09T12:11:00</created><expmonth>10</expmonth><expyear>12</expyear><cardtypeid>VISA</cardtypeid><transactionList><TransactionInformationType><group>Group</group><authamount>10000</authamount><currency>208</currency><cardtypeid>18</cardtypeid><capturedamount>0</capturedamount><creditedamount>0</creditedamount><orderid>LOL?</orderid><description>Description of subscription</description><authdate>2012-02-09T12:11:00</authdate><captureddate>0001-01-01T00:00:00</captureddate><deleteddate>0001-01-01T00:00:00</deleteddate><crediteddate>0001-01-01T00:00:00</crediteddate><status>PAYMENT_NEW</status><history><TransactionHistoryInfo><transactionHistoryID>21398635</transactionHistoryID><logonID>-1</logonID><username
      /><eventMsg>Payment authorized with amount 100,00 and currency code 208</eventMsg><created>2012-02-09T12:11:00</created></TransactionHistoryInfo></history><transactionid>8772021</transactionid><cardholder
      /><mode>MODE_EPAY</mode><msc>false</msc><fraudStatus>0</fraudStatus><payerCountryCode>  </payerCountryCode><issuedCountryCode>  </issuedCountryCode><fee>0</fee><splitpayment>false</splitpayment><acquirer>EUROLINE</acquirer><tcardno>333333XXXXXX3000</tcardno><expmonth>10</expmonth><expyear>12</expyear></TransactionInformationType><TransactionInformationType><group
      /><authamount>7900</authamount><currency>208</currency><cardtypeid>18</cardtypeid><capturedamount>7900</capturedamount><creditedamount>0</creditedamount><orderid>orderid</orderid><description
      /><authdate>2012-02-10T11:24:00</authdate><captureddate>2012-02-10T11:24:00</captureddate><deleteddate>0001-01-01T00:00:00</deleteddate><crediteddate>0001-01-01T0[...]
