--- 
http_interactions: 
- request: 
    method: post
    uri: https://ssl.ditonlinebetalingssystem.dk/auth/default.aspx
    body: 
      encoding: ASCII-8BIT
      string: merchantnumber=8887978&cardno=5555555555555000&cvc=999&expmonth=10&expyear=15&amount=0&currency=208&orderid=13318153116230&accepturl=https%3A%2F%2Fssl.ditonlinebetalingssystem.dk%2Fauth%2Fdefault.aspx%3Faccept%3D1&declineurl=https%3A%2F%2Fssl.ditonlinebetalingssystem.dk%2Fauth%2Fdefault.aspx%3Fdecline%3D1&subscription=1&subscriptionname=A%20new%20subscriber
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 302
      message: Found
    headers: 
      Content-Type: 
      - text/html; charset=iso-8859-1
      Location: 
      - https://ssl.ditonlinebetalingssystem.dk/auth/default.aspx?accept=1&tid=0&orderid=13318153116230&amount=0&cur=208&date=20120315&time=1341&cardnopostfix=5000&tcardno=555555XXXXXX5000&subscriptionid=418486&cardid=4&transfee=0
    body: 
      encoding: US-ASCII
      string: |
        <html><head><title>Object moved</title></head><body>
        <h2>Object moved to <a href="https://ssl.ditonlinebetalingssystem.dk/auth/default.aspx?accept=1&amp;tid=0&amp;orderid=13318153116230&amp;amount=0&amp;cur=208&amp;date=20120315&amp;time=1341&amp;cardnopostfix=5000&amp;tcardno=555555XXXXXX5000&amp;subscriptionid=418486&amp;cardid=4&amp;transfee=0">here</a>.</h2>
        </body></html>

  recorded_at: Thu, 15 Mar 2012 12:41:51 GMT
- request: 
    method: post
    uri: https://ssl.ditonlinebetalingssystem.dk/remote/subscription.asmx
    body: 
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap:Envelope xmlns:xsi="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <getsubscriptions xmlns="https://ssl.ditonlinebetalingssystem.dk/remote/subscription">
              <subscriptionid>418486</subscriptionid>
              <merchantnumber>8887978</merchantnumber>
            </getsubscriptions>
          </soap:Body>
        </soap:Envelope>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
      Soapaction: 
      - https://ssl.ditonlinebetalingssystem.dk/remote/subscription/getsubscriptions
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><getsubscriptionsResponse xmlns="https://ssl.ditonlinebetalingssystem.dk/remote/subscription"><getsubscriptionsResult>true</getsubscriptionsResult><subscriptionAry><SubscriptionInformationType><subscriptionid>418486</subscriptionid><description>A new subscriber</description><created>2012-03-15T13:42:00</created><expmonth>10</expmonth><expyear>15</expyear><cardtypeid>MASTERCARD</cardtypeid><transactionList /></SubscriptionInformationType></subscriptionAry><epayresponse>-1</epayresponse></getsubscriptionsResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 15 Mar 2012 12:41:52 GMT
recorded_with: VCR 2.0.0
