---
http_interactions:
- request:
    method: post
    uri: https://ssl.ditonlinebetalingssystem.dk/auth/default.aspx
    body: merchantnumber=8887978&cardno=5555555555555118&cvc=999&expmonth=10&expyear=15&amount=6000&currency=208&orderid=TEST-ORDER-12345&accepturl=https%3A%2F%2Fssl.ditonlinebetalingssystem.dk%2Fauth%2Fdefault.aspx%3Faccept%3D1&declineurl=https%3A%2F%2Fssl.ditonlinebetalingssystem.dk%2Fauth%2Fdefault.aspx%3Fdecline%3D1&description=For%20the%20cool%20products&cardholder=Jack%20Jensen&group=Test-transactions&instantcapture=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://ssl.ditonlinebetalingssystem.dk/auth/default.aspx?decline=1&error=118&orderid=TEST-ORDER-12345&errortext=Betalingen
        blev afvist da det indtastede kortnummer ikke kan findes. Pr%f8v og indtaste
        kortets oplysninger igen eller pr%f8v med et andet betalingskort.
    body: ! "<html><head><title>Object moved</title></head><body>\r\n<h2>Object moved
      to <a href=\"https://ssl.ditonlinebetalingssystem.dk/auth/default.aspx?decline=1&amp;error=118&amp;orderid=TEST-ORDER-12345&amp;errortext=Betalingen
      blev afvist da det indtastede kortnummer ikke kan findes. Pr%f8v og indtaste
      kortets oplysninger igen eller pr%f8v med et andet betalingskort.\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Tue, 14 Feb 2012 10:48:50 GMT
recorded_with: VCR 2.0.0.rc1
